<div><h3> Forgotten password</h3></div>
<form name="forgotpassword" class="forgotpassword" ng-submit="forgotpassword.$valid && forgotpasswordDetails()" novalidate>
   <div class="form-group">
       <div class="col-sm-12">
        <label for="title" class="col-sm-12 control-label">
            Please enter your email address below to reset your password.
        </label>
       </div>
   </div>
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="email" ng-model="email" ng-required="true">
        </div>
        <div class="col-sm-3">
            <span style="color:red" ng-show="forgotpassword.email.$dirty && forgotpassword.email.$invalid">email is invalid</span>
            <span style="color:red" ng-show="forgotpassword.email.$error.required">email is required.</span>
        </div>
    </div>  

    <div class="form-group">       
        <div class="col-sm-12">
            <input type="submit" class="btn btn-default" ng-click="Submit" value="Reset password"/>           
        </div>
    </div>    
    <div class="form-group">       
        <div class="col-sm-12">
             <span>{{msg}}</span>       
        </div>
    </div> 
   
</form>