<div><h3>Reset password</h3></div>
<form name="resetpasswordform" class="resetpasswordform" ng-submit="resetpasswordform.$valid && resetpasswordformDetails()" novalidate>
    <div><h3>Please create a new password below.</h3></div>
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Password reset key</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password_reset_key" ng-model="password_reset_key" ng-required="true">
        </div>
        <div class="col-sm-3">
            <span style="color:red" ng-show="resetpasswordform.password_reset_key.$error.required">Password Reset Key is required.</span>
        </div>
    </div>  
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" ng-minlength="6" ng-model="password" ng-required="true">
        </div>
        <div class="col-sm-3">
            <span style="color:red" ng-show="resetpasswordform.password.$dirty && resetpasswordform.password.$invalid || submitted">Minimum six characters</span>
            <span  style="color:red" ng-show="resetpasswordform.password.$error.required">Password is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Conform Password:</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="conformpassword" ng-minlength="6"  ng-match="password" ng-model="conformpassword" ng-required="true">
        </div>
        <div class="col-sm-3">
            <span style="color:red" ng-show="resetpasswordform.conformpassword.$dirty && resetpasswordform.conformpassword.$invalid || submitted">Minimum six characters</span>
            <span style="color:red" ng-show="IsMatch">Conform Passwords do not match</span>
            <span  style="color:red" ng-show="resetpasswordform.conformpassword.$error.required">Conform Password is required.</span>
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-8">
          <input type="submit" class="btn btn-default" ng-click="Submit" value="Register"/>          
        </div>       
    </div>
    <div class="form-group">       
        <div class="col-sm-12">
             <span>{{msg}}</span>       
        </div>
    </div>
</form>